#search {
  font-family: Material Symbols Outlined;
  font-size:50px;
  font-style:normal;
}
#menu{
  font-family:Material Symbols Outlined;
  font-size:50px;
  font-style:normal;
}
#home{
  font-family:Material Symbols Outlined;
  font-size:50px;
  font-style:normal;
}