#test1 {
  font-family: "BBH Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#test2 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
#test3 {
  font-family: "Rubik Gemstones", system-ui;
  font-weight: 400;
  font-style: normal;
}
#test4 {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
#test5 {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}
