#first{
background-color:rgb(255, 228, 196,0.7);
height:20px;
margin:0px; padding: 0px;
color:brown
}
#main{
  height:300px;
  width: 300px;
  background-image: url(https://m.media-amazon.com/images/I/511rSZltO-L._AC_._SS160_.jpg);

  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  visibility: hidden;

}